EXPO_PUBLIC_API_URL=http://localhost:8081
DATABASE_URL=postgresql://neondb_owner:npg_Fa9WNrHcxz7J@ep-fancy-hall-ayhwrbsm-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require


#########
Get the Commercial License to get all envs
#######